* {
    padding: 0px;
    margin: 0px;
    border: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Links */

a,
a:link,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-size: inherit;
    font-weight: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    color: white;
}


ul,
ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

img,
svg {
    max-width: 100%;
    height: auto;
}

address {
    font-style: normal;
}

/* Form */

input,
textarea,
button,
select {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
    display: none;
}

button,
input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
    outline: none;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

label {
    cursor: pointer;
}

legend {
    display: block;
}


#info{
    padding: 0 300px;
}

.info_text, .info_text_right h1{
    font-size: 66px;
}

.more{
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 16px;
}

.info_text p{
    font-size: 21px;
    margin-top: 18px;
}

#info{
    display: flex;
    flex-direction: column;

}

.info_text_right li{
    width: 500px;
    height: auto;
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(9px);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 3px 6px 20px;
}

.info_text_right ul{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 40px;
}


/* .info_text_card{
    /* position: relative; 
}
*/

.img_cards{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
    margin-left: 20px;
}

#info h1{
    font-weight: 500;
}

.info_text h1 {
    margin-top: 9px;
}

.info_text_card h2{
    font-size: 20px;
}

.img_cards3{
    width: 120px;
    height: 120px;
    margin-left: 9px !important;
}

.img_cards4{
    width: 120px;
    height: 120px;
    margin-left: 9px !important;
}

.info_text_right h1{
    margin-top: 50px;
}

@media(max-width: 1600px){
    #info{
        padding: 0 120px;
    }
}

@media(max-width: 1440px){
    .info_text h1{
        font-size: 60px;
    }
    
    .info_text p{
        font-size: 18px;
    }
}

@media(max-width: 999px){
    #info{
        padding: 0 10px;
    }

    .info_text h1, .info_text_right h1 {
        font-size: 48px !important;
    }
}