* {
    padding: 0px;
    margin: 0px;
    border: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Links */

a,
a:link,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-size: inherit;
    font-weight: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    color: white;
}


ul,
ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

img,
svg {
    max-width: 100%;
    height: auto;
}

address {
    font-style: normal;
}

/* Form */

input,
textarea,
button,
select {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
    display: none;
}

button,
input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
    outline: none;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

label {
    cursor: pointer;
}

legend {
    display: block;
}


#more_info{
    padding: 0 300px;
}

.more_info_text h1{
    font-size: 66px;
}


.more_info_text p{
    font-size: 21px;
}

.more_info_text ul{
    display: flex;
    margin-bottom: 50px;
    align-items: center;
    margin-top: 40px;
}


.circle_number{
    border-radius: 100px;
    width: 95px;
    height: 95px;
    background-color: rgba(255, 255, 255, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
}

.more_info_cards{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.more_info_cards .more_info_text_card{
    margin-top: 50px;
    margin-bottom: 60px;
}

.more_info_cards2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 150px;
}

.more_info_cards2 .more_info_text_card{
    margin-top: 37px;
    margin-bottom: 24px;
}

.more_info_text_card{
    max-width: 500px;
    height: auto;
}

@media (max-width: 1600px) {
    #more_info{
        padding: 0 120px;
    }
}

@media(max-width: 1440px){
    .company_cards{
        gap: 20px !important;
    }

    .more_info_cards2 {
        margin-left: 50px;
    }
}

@media(max-width: 1024px) {
    .more_info_cards2{
        margin-left: 0px;
    }

    .more_info_text ul{
        display: flex;
        margin-top: 40px;
        margin-bottom: 40px;
        flex-direction: column;
    }

    .more_info_text li{
        margin-bottom: 40px;
    }

    .more_info_text h1{
        text-align: center;
    }
}

@media (max-width: 999px) {
    #more_info{
        padding: 0 10px;
    }

    .more_info_text h1{
        font-size: 48px;
    }
}