.thanks {
    display: flex;
    justify-content: center;

    margin-top: 50px;
    margin-bottom: 50px;

    padding-left: 10px;
    padding-right: 10px;
}

.thanks__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-width: 300px;
    max-width: 1000px;
}

.thanks__title {
    font-size: 32px;
    font-weight: 700;

    text-align: center;
}

.thanks__p {
    text-align: center;
}

.thanks__btn {
    width: 170px;
    
    margin: 0 auto;
}