body {
    font-family: "Open Sans", sans-serif;
    background-color: #fff;
}

.container {
    padding-left: 100px;
    padding-right: 100px;
}

.main {
    display: flex;
    justify-content: space-between;
}

.none {
    display: none !important;
}