.about {
    padding-top: 69px;

    @include mediaTablet {
        padding-top: 72px;
    }
    

    @include mediaMobile {
        padding-top: 19px;
    }
}

.about__title {
    margin-left: 59px;
    margin-right: 54px;

    font-size: 40px;
    font-weight: 600;
    line-height: 1.28;
    letter-spacing: 0.01em;

    margin-bottom: 8px;

    @include mediaTablet {
        font-size: 30px;
        margin-bottom: 40px;

        margin-left: 28px;
        margin-right: 20px;
    }

    @include mediaMobile {
        font-size: 20px;
        margin-left: 13px;
        margin-right: 34px;

        margin-bottom: 20px;
    }
}

.about__text {
    padding-left: 87px;
    width: 280px;
    font-size: 18;
    line-height: 1.28;

    @include mediaMobile {
        font-size: 16px;
        padding-left: 15px;

        width: 210px;
    }
}

.about__cards {
    display: flex;
    justify-content: space-between;
    gap: 8px;

    padding-top: 80px;
    padding-bottom: 69px;
    padding-left: 87px;
    padding-right: 60px;

    @include mediaTablet {
        padding-left: 39px;
        padding-right: 39px;

        padding-top: 35px;
        padding-bottom: 59px;
    }

    @include mediaMobile {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 27px 15px;

        padding-left: 18px;
        padding-right: 18px;

        padding-top: 8px;
        padding-bottom: 27px;
    }

}

.about__card {
    width: 30.8%;

    @include mediaMobile {
        width: 133px;
    }
}

.about__slider {
    position: relative;

    margin-top: 40px;
    margin-bottom: 128px;

    @include mediaTablet {
        margin-bottom: 117px;
    }

    @include mediaMobile {
        margin-top: 8px;
        margin-bottom: 39px;
    }
}