.cards {
    display: flex;
    justify-content: center;
    margin-top: 48px;

    @include mediaTablet {
        margin-top: 0px;
    }
}

.cards__item {
    width: 290px;
    height: 235px;
    padding-top: 54px;
    padding-left: 16px;
    padding-right: 16px;

    &--red {
        background-color: $red;
        border: 2px solid $red;
    }

    &--blue {
        background-color: $blue;
        border: 2px solid $blue;
    }

    &--white {
        margin-left: 3px;
        background-color: $color-text-secondary;
        border: 2px solid #F5CC5E;

        & > .cards__title, & > .cards__info {
            color: $color-blue-text;
        }
    }

    @include mediaTablet {
        width: 233px;
        height: 180px;

        padding-top: 32px;
        padding-left: 2px;
        padding-right: 2px;
    }

    @include mediaMobile {
        width: 94px;
        height: 92px;
        
        padding-top: 8px;
        padding-left: 8px;
        padding-right: 8px;
    }
}

.cards__title {
    text-align: center;

    font-family: $font-kanit;
    font-size: 60px;
    font-weight: 600;
    line-height: 1.4;

    color: $color-text-secondary;

    @include mediaMobile {
        font-size: 24px;
    }
}

.cards__info {
    margin-top: 10px;
    color: $color-text-secondary;

    font-family: $font-kanit;
    font-size: 22px;
    font-weight: 400;
    line-height: 0.8181;

    text-align: center;

    @include mediaMobile {
        margin-top: 0;
        font-size: 10px;
        line-height: 1.3;
    }
}