.footer {
    padding-left: 83px;

    padding-top: 80px;
    padding-bottom: 52px;

    background-color: $color-bg-secondary;

    @include mediaTablet {
        padding-left: 48px;

        padding-top: 60px;
    }

    @include mediaMobile {
        padding-left: 13px;
        padding-bottom: 26px;

        padding-top: 20px;
    }
}

.footer__info {
    color: $color-footer-text;

    font-size: 18px;
    font-weight: 400;
    line-height: 1.444;

    @include mediaMobile {
        font-size: 10px;
        line-height: 2.6;
    }
}