.popup {
    position: fixed;
    z-index: 999999999;

    overflow: auto;

    top: 5vh;
    left: 5vw;

    width: 90vw;
    height: 90vh;

    box-shadow: 1px 1px 2px 1px rgba($color-footer-text, 0.7);

    background-color: $color-bg;

    border-radius: 8px;

    padding: 32px 24px;
}

.popup__btn-container {
    position: fixed;
    z-index: 9999999999;

    top: 12vh;
    right: 7vw;
}

.popup__cross {
    width: 25px;
    height: 15px;

    position: relative;

    &::before {
        content: "";
        position: absolute;

        top: 0;
        left: 0;

        width: 25px;
        height: 3px;
        background-color: $color-text;

        transform: rotate(45deg);

        transition: all 0.2s ease-in;
    }

    &::after {
        content: "";
        position: absolute;

        top: 0;
        left: 0;

        width: 25px;
        height: 3px;
        background-color: $color-text;

        transform: rotate(135deg);

        transition: all 0.2s ease-in;
    }

    &:hover {
        &::before {
            opacity: 0.7;
        }

        &::after {
            opacity: 0.7;
        }
    }
}

.popup__title {
    font-size: 32px;

    font-weight: 600;
}

.popup__container {
    margin-top: 64px;

    display: grid;
    gap: 32px;

    &>div:last-child {
        margin-left: 2px;
    }
}

.popup__strong {
    font-size: 18px;
}

.popup__link {
    color: $color-text;
    transition: all 0.2s ease-in;
}

.popup__link:hover {
    color: $color-footer-text;
}