.services {
    display: flex;
    justify-content: space-between;
    padding: 69px 187px 70px 87px;

    @include mediaTablet {
        padding-top: 74px;
        padding-left: 39px;
        padding-right: 99px;
    }

    @include mediaMobile {
        display: grid;
        justify-content: flex-start;
        gap: 8px;

        padding-top: 27px;
        padding-left: 13px;
        padding-right: 96px;
    }
}

.services__text {
    display: flex;
    flex-direction: column;
    gap: 69px;

    @include mediaTablet {
        gap: 74px;
    }

    @include mediaMobile {
        gap: 8px;
    }
}

.services__title {
    font-size: 40px;
    font-weight: 600;
    line-height: 1.28;
    letter-spacing: 0.01em;

    @include mediaTablet {
        font-size: 30px;
    }
}

.services__container {
    display: grid;
    gap: 30px;

    @include mediaTablet {
        gap: 22px;
    }

    @include mediaMobile {
        gap: 8px;
    }
}

.services__p {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.28;
    letter-spacing: 0.01em;

    width: 300px;
}

.services__cards {
    display: inline-grid;
    gap: 28px;
    width: 278px;

    @include mediaTablet {
        padding-top: 68px;
        width: 197px;
        gap: 23px;
    }

    @include mediaMobile {
        padding-top: 0;
        width: 133px;
        margin-left: 75px;

        gap: 13px;
    }
}