.slider-wrapper {
    padding-left: 75px;
    padding-right: 75px;

    @include mediaTablet {
        padding: 0 40px;
    }
    
    @include mediaMobile {
        padding: 24px;
    }
}

.swiper {
    display: flex;
    justify-content: space-between !important;
}

.swiper-slide > img {
    width: 100% !important;
}

:root {
    --swiper-navigation-size: 16px;
}

.swiper-button-prev {
    color: black;

    left: 47px !important;

    @include mediaTablet {
        left: 16px !important;
    }
    
    @include mediaMobile {
        left: 12px !important;
    }
}

.swiper-button-next {
    color: black;

    right: 47px !important;

    @include mediaTablet {
        right: 16px !important;
    }

    @include mediaMobile {
        right: 12px !important;
    }
}