.work {
    display: grid;
    align-content: center;
    padding-top: 5px;
    padding-left: 81px;
    padding-right: 96px;
    padding-bottom: 135px;
    gap: 44px;

    @include mediaTablet {
        padding-top: 81px;
        padding-left: 24px;
        padding-right: 39px;
        padding-bottom: 81px;

        gap: 32px;
    }

    @include mediaMobile {
        padding-top: 20px;
        padding-left: 12px;
        padding-right: 12px;
        padding-bottom: 23px;

        gap: 16px;
    }
}

.work__header {
    font-size: 40px;
    font-weight: 600;
    line-height: 1.275;
    letter-spacing: 0.01em;

    @include mediaTablet {
        font-size: 30px;
    }

    @include mediaMobile {
        font-size: 20px;
    }
}

.work__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;

    @include mediaTablet {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    @include mediaTablet {
        gap: 8px;
    }
}

.work__text {
    display: grid;
    gap: 12px;
    width: 547px;

    @include mediaTablet {
        gap: 6px;
        width: 100%;
    }

    @include mediaMobile {
        gap: 2px;
    }
}

.work__title {
    font-size: 30px;
    font-weight: 600;
    line-height: 1.28;
    letter-spacing: 0.01em;

    @include mediaTablet {
        font-size: 25px;
    }

    @include mediaMobile {
        font-size: 18px;
    }
}

.work__p {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.28;
    letter-spacing: 0.01em;

    @include mediaMobile {
        font-size: 16px;
    }
}

.work__img {
    width: 652px;

    @include mediaLaptop {
        width: 520px;
    }

    @include mediaTablet {
        width: 443px;
        margin: 0 auto;
    }

    @include mediaMobile {
        width: 235px;
    }
}