/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Nunito+Sans:opsz,wght@6..12,300;6..12,400;6..12,600;6..12,700;6..12,800&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #2F2F2F;
  line-height: 1.5;
}

a {
  color: #2F2F2F;
}

h1 {
  font-size: 64px;
  font-weight: 700;
  color: #202020;
}
@media screen and (max-width: 999px) {
  h1 {
    font-size: 40px;
  }
}

h2 {
  font-size: 48px;
  font-weight: 700;
  color: #202020;
}
@media screen and (max-width: 999px) {
  h2 {
    font-size: 32px;
  }
}

h3 {
  font-size: 32px;
  font-weight: 700;
  color: #202020;
}
@media screen and (max-width: 999px) {
  h3 {
    font-size: 24px;
  }
}

h4 {
  font-size: 24px;
  font-weight: 700;
  color: #202020;
}
@media screen and (max-width: 999px) {
  h4 {
    font-size: 17px;
  }
}

.title-reg {
  font-weight: 400;
}

.txt-bold {
  font-weight: 700;
  font-size: 16px;
}

.txt {
  font-weight: 400;
  font-size: 17px;
}

.caption, .link {
  font-weight: 400;
  font-size: 14px;
}

.caption-bold {
  font-weight: 700;
  font-size: 14px;
}

.container {
  padding-left: 351px;
  padding-right: 351px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 1919px) {
  .container {
    padding-left: 340px;
    padding-right: 340px;
  }
}
@media screen and (max-width: 1900px) {
  .container {
    padding-left: 310px;
    padding-right: 310px;
  }
}
@media screen and (max-width: 1800px) {
  .container {
    padding-left: 250px;
    padding-right: 250px;
  }
}
@media screen and (max-width: 1760px) {
  .container {
    padding-left: 200px;
    padding-right: 200px;
  }
}
@media screen and (max-width: 1700px) {
  .container {
    padding-left: 150px;
    padding-right: 150px;
  }
}
@media screen and (max-width: 1630px) {
  .container {
    padding-left: 100px;
    padding-right: 100px;
  }
}
@media screen and (max-width: 1600px) {
  .container {
    padding-left: 65px;
    padding-right: 65px;
  }
}
@media screen and (max-width: 1439px) {
  .container {
    padding-left: 45px;
    padding-right: 45px;
  }
}
@media screen and (max-width: 999px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.none {
  display: none !important;
}

.header {
  display: grid;
  padding-top: 24px;
  -moz-column-gap: 16px;
       column-gap: 16px;
}
@media screen and (max-width: 999px) {
  .header {
    padding-top: 0px;
  }
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 999px) {
  .header__top {
    display: none;
    padding-top: 24px;
  }
}

.header__geo {
  display: flex;
  align-items: center;
  -moz-column-gap: 6px;
       column-gap: 6px;
}

.header__geo--opened {
  display: none;
}

.header__contacts {
  display: flex;
  align-items: center;
  -moz-column-gap: 32px;
       column-gap: 32px;
}
.header__contacts > a {
  color: #2F2F2F;
}
.header__contacts--opened {
  display: none;
}

.header__socials {
  display: flex;
  -moz-column-gap: 16px;
       column-gap: 16px;
}

.header__bottom {
  display: flex;
  justify-content: space-between;
  padding-top: 16px;
}
@media screen and (max-width: 999px) {
  .header__bottom {
    align-items: center;
    padding-top: 26px;
  }
  .header__bottom--opened {
    display: grid;
    align-content: start;
    margin-top: 0;
    position: fixed;
    width: 311px;
    height: 100vh;
    background: #fff;
    z-index: 999;
  }
  .header__bottom--opened > img {
    z-index: 9999;
  }
  .header__bottom--opened > .header__logo {
    position: absolute;
    top: 20px;
    left: 0px;
  }
  .header__bottom--opened > .header__btn {
    position: absolute;
    top: 28px;
    right: 16px;
  }
  .header__bottom--opened > .header__geo--opened {
    display: flex;
    margin-top: 64px;
    padding-bottom: 20px;
    border-bottom: 1px solid #E6E6E6;
    padding-right: 111px;
  }
  .header__bottom--opened > .header__contacts--opened {
    display: grid;
    row-gap: 16px;
    margin-top: 24px;
  }
  .header__bottom--opened > .header__contacts--opened > .header__socials {
    margin-top: 8px;
    -moz-column-gap: 24px;
         column-gap: 24px;
  }
}
@media screen and (max-height: 479px) {
  .header__bottom .header__contacts {
    display: none;
  }
}

.header__btn {
  display: none;
  cursor: pointer;
}
@media screen and (max-width: 999px) {
  .header__btn {
    display: block;
  }
}

@media screen and (max-width: 999px) {
  .nav {
    display: none;
  }
}

@media screen and (max-width: 999px) {
  .nav--opened {
    display: block;
    background: #fff;
    z-index: 999;
    margin-top: 16px;
  }
  .nav--opened > .nav__list {
    display: grid;
    row-gap: 16px;
  }
  .nav--opened .btn {
    width: 275px;
  }
}
@media screen and (max-height: 479px) {
  .nav--opened > .nav__list {
    grid-template-columns: repeat(2, 1fr);
  }
  .nav--opened .btn {
    width: 100px;
  }
}

.nav__list {
  display: flex;
  align-items: center;
  -moz-column-gap: 32px;
       column-gap: 32px;
}
@media screen and (max-width: 1439px) {
  .nav__list {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}

.nav__link:hover {
  color: #000;
}

.btn {
  display: inline-flex;
  padding: 12px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 6px;
  border: 1px solid #E6E6E6;
  color: #2F2F2F;
  font-size: 14px;
}
.btn--primary {
  background: linear-gradient(209deg, #F59C36 30.9%, #FF8800 87.78%);
  border-color: linear-gradient(209deg, #F59C36 30.9%, #FF8800 87.78%);
  padding: 16px 24px;
  color: white;
}
.btn--primary:hover {
  background: linear-gradient(209deg, #CD7E24 30.9%, #DB8C30 87.78%);
  border-color: linear-gradient(209deg, #CD7E24 30.9%, #DB8C30 87.78%);
}
.btn--primary:active {
  background: linear-gradient(209deg, #F59C36 30.9%, #F80 87.78%);
  border-color: linear-gradient(209deg, #F59C36 30.9%, #F80 87.78%);
}

.heading {
  display: flex;
  padding-right: 52px;
  padding-top: 32px;
}
@media screen and (max-width: 1439px) {
  .heading {
    flex-direction: column-reverse;
    row-gap: 20px;
    padding-top: 60px;
  }
}
@media screen and (max-width: 999px) {
  .heading {
    padding-top: 8px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.heading__info {
  display: grid;
  align-content: center;
  width: 560px;
  margin-top: 170px;
  margin-bottom: 73px;
  z-index: 2;
}
@media screen and (max-width: 1439px) {
  .heading__info {
    margin-top: 0;
    width: 100%;
  }
}
@media screen and (max-width: 999px) {
  .heading__info {
    margin-bottom: 0;
  }
}

.heading__title {
  width: 520px;
  margin-bottom: 32px;
}
@media screen and (max-width: 1439px) {
  .heading__title {
    width: 100%;
  }
}
@media screen and (max-width: 999px) {
  .heading__title {
    margin-bottom: 24px;
    width: auto;
  }
}

.heading__text {
  margin-bottom: 40px;
}
@media screen and (max-width: 999px) {
  .heading__text {
    margin-bottom: 32px;
  }
}

.heading__btn {
  width: 160px;
}

.heading__img {
  margin-left: -40px;
  z-index: 0;
}
@media screen and (max-width: 1600px) {
  .heading__img {
    width: 800px;
    height: auto;
  }
}
@media screen and (max-width: 1439px) {
  .heading__img {
    margin-left: 0;
  }
}

.link-more {
  display: flex;
  flex-direction: flex-start;
  align-items: center;
  gap: 8px;
  font-family: "Montserrat";
}
.link-more > span {
  width: auto;
  font-size: 16px;
  font-weight: 700;
  background: var(--Prim, linear-gradient(209deg, #F59C36 30.9%, #DB8C30 87.78%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.link-more:hover > span {
  background: linear-gradient(209deg, #D98A2E 30.9%, #DB8C30 87.78%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.link-more:hover > svg > defs > linearGradient > stop:first-child {
  stop-color: #D98A2E;
}
.link-more:hover > svg > defs > linearGradient > stop:last-child {
  stop-color: #DB8C30;
}
.link-more:active > span {
  background: linear-gradient(209deg, #FE8A05 30.9%, #DB8C30 87.78%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.link-more:active > svg > defs > linearGradient > stop:first-child {
  stop-color: #FE8A05;
}
.link-more:active > svg > defs > linearGradient > stop:last-child {
  stop-color: #DB8C30;
}

.services-preview {
  display: grid;
  align-items: center;
  padding-top: 160px;
  padding-left: -100px;
}
@media screen and (max-width: 1600px) {
  .services-preview {
    padding-left: 65px;
    padding-right: 65px;
  }
}
@media screen and (max-width: 1439px) {
  .services-preview {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media screen and (max-width: 999px) {
  .services-preview {
    padding-top: 64px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.services-preview__title {
  text-align: center;
}

.services-preview__container {
  display: flex;
  -moz-column-gap: 68px;
       column-gap: 68px;
  padding-top: 42px;
}
@media screen and (max-width: 1600px) {
  .services-preview__container {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}
@media screen and (max-width: 1439px) {
  .services-preview__container {
    flex-direction: column;
    padding-top: 20px;
    row-gap: 5px;
  }
}

.services-preview__info {
  display: grid;
  align-content: center;
  row-gap: 24px;
  width: 490px;
}
@media screen and (max-width: 1600px) {
  .services-preview__info {
    width: 324px;
  }
}
@media screen and (max-width: 1439px) {
  .services-preview__info {
    max-width: 520px;
    width: 100%;
  }
}
@media screen and (max-width: 999px) {
  .services-preview__info {
    row-gap: 16px;
  }
}

@media screen and (max-width: 1439px) {
  .services-priview__img {
    width: 682px;
  }
}

.calculator {
  display: flex;
  -moz-column-gap: 64px;
       column-gap: 64px;
  padding-top: 167px;
  padding-bottom: 120px;
}
@media screen and (max-width: 1600px) {
  .calculator {
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
}
@media screen and (max-width: 1439px) {
  .calculator {
    flex-direction: column-reverse;
  }
}
@media screen and (max-width: 999px) {
  .calculator {
    padding-top: 64px;
    padding-bottom: 64px;
    row-gap: 24px;
  }
}

@media screen and (max-width: 999px) {
  .calculator__title {
    max-width: 500px;
    min-width: 280px;
    text-align: center;
  }
}

.calculator__info {
  display: grid;
  align-content: center;
  row-gap: 40px;
  margin-top: 138px;
  margin-bottom: 58px;
}
@media screen and (max-width: 1439px) {
  .calculator__info {
    margin-top: 20px;
  }
}

.calculator__img {
  margin-right: -212px;
}
@media screen and (max-width: 1600px) {
  .calculator__img {
    margin-right: 0;
    width: 500px;
  }
}
@media screen and (max-width: 999px) {
  .calculator__img {
    display: none;
  }
}

.form {
  display: grid;
}
@media screen and (max-width: 999px) {
  .form {
    width: auto;
    max-width: 320px;
    min-width: 280px;
  }
}

.form__inputs {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  width: 792px;
}
@media screen and (max-width: 999px) {
  .form__inputs {
    grid-template-columns: 1fr;
    width: 100%;
    max-width: 319px;
    min-width: 280px;
  }
}

.form__label {
  position: absolute;
  background-image: url("./../imgs/form/required-icon.svg");
  width: 6px;
  height: 6px;
  left: 0;
  top: 0;
}
.form__label--1 {
  top: 13px;
  left: 286px;
}
@media screen and (max-width: 999px) {
  .form__label--1 {
    top: 13px;
    left: 286px;
  }
}
@media screen and (max-width: 330px) {
  .form__label--1 {
    left: 268px;
  }
}
.form__label--2 {
  top: 13px;
  left: 755px;
}
@media screen and (max-width: 999px) {
  .form__label--2 {
    top: 87px;
    left: 265px;
  }
}
.form__label--3 {
  top: 85px;
  left: 155px;
}
@media screen and (max-width: 999px) {
  .form__label--3 {
    top: 165px;
  }
}
.form__label--4 {
  top: 85px;
  left: 665px;
}
@media screen and (max-width: 999px) {
  .form__label--4 {
    top: 240px;
    left: 255px;
  }
}

.form__input {
  position: relative;
  font-family: "Montserrat";
  font-size: 17px;
  font-weight: 700;
  height: 52px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 13px 16px;
  color: #5E6368;
}
.form__input::-moz-placeholder {
  font-family: "Montserrat";
  font-size: 17px;
  font-weight: 700;
  color: #5E6368;
  content: "";
}
.form__input::placeholder {
  font-family: "Montserrat";
  font-size: 17px;
  font-weight: 700;
  color: #5E6368;
  content: "";
}
@media screen and (max-width: 999px) {
  .form__input::-moz-placeholder {
    font-weight: 400;
  }
  .form__input::placeholder {
    font-weight: 400;
  }
}
@media screen and (max-width: 999px) {
  .form__input {
    min-width: 280px;
    max-width: 319px;
  }
}

.form__title {
  margin-top: 24px;
  margin-bottom: 40px;
}
@media screen and (max-width: 999px) {
  .form__title {
    margin-bottom: 24px;
    font-size: 24px;
  }
}

.form__politics {
  display: flex;
  align-items: center;
  gap: 24px;
}
@media screen and (max-width: 999px) {
  .form__politics {
    flex-direction: column;
  }
}
@media screen and (max-width: 999px) {
  .form__politics > .btn {
    width: 319px;
  }
}
@media screen and (max-width: 376px) {
  .form__politics > .btn {
    width: 280px;
  }
}

.form__text {
  width: 312px;
  color: #6A6A6A;
}
@media screen and (max-width: 999px) {
  .form__text {
    width: auto;
    max-width: 312px;
    min-width: 270px;
  }
}

.form__link {
  background: linear-gradient(209deg, #F59C36 30.9%, #DB8C30 87.78%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.form__link:hover {
  background: linear-gradient(209deg, #D98A2E 30.9%, #DB8C30 87.78%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.form__link:active {
  background: linear-gradient(209deg, #FE8A05 30.9%, #DB8C30 87.78%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.services {
  display: grid;
  row-gap: 64px;
  padding-top: 120px;
  padding-bottom: 161px;
  background: #f9f9f9;
}
@media screen and (max-width: 999px) {
  .services {
    padding-top: 64px;
    padding-bottom: 64px;
    background: #fff;
    row-gap: 40px;
  }
}

.services__cards {
  display: grid;
  grid-template-columns: repeat(2, 429px);
  row-gap: 64px;
  -moz-column-gap: 120px;
       column-gap: 120px;
}
@media screen and (max-width: 1439px) {
  .services__cards {
    -moz-column-gap: 60px;
         column-gap: 60px;
  }
}
@media screen and (max-width: 999px) {
  .services__cards {
    grid-template-columns: 1fr;
    row-gap: 24px;
  }
  .services__cards > #service-card1 {
    display: none;
  }
  .services__cards > #service-card2 {
    display: none;
  }
  .services__cards > #service-card3 {
    display: none;
  }
  .services__cards > #service-card4 {
    display: none;
  }
  .services__cards > #service-card5 {
    display: none;
  }
  .services__cards > #service-card6 {
    display: none;
  }
}

.services__card {
  display: grid;
  row-gap: 16px;
}
@media screen and (max-width: 999px) {
  .services__card {
    row-gap: 8px;
    width: auto;
  }
  .services__card > h4 {
    margin-top: 8px;
  }
}

.services__btn {
  display: none;
}
@media screen and (max-width: 999px) {
  .services__btn {
    display: block;
  }
}

.who-needs {
  display: flex;
  align-items: center;
  -moz-column-gap: 40px;
       column-gap: 40px;
  padding-right: -220px;
}
@media screen and (max-width: 1600px) {
  .who-needs {
    flex-direction: column-reverse;
    padding-right: 0;
  }
}
@media screen and (max-width: 999px) {
  .who-needs {
    padding-bottom: 64px;
  }
}

.who-needs__info {
  display: grid;
  row-gap: 40px;
  width: 654px;
}
@media screen and (max-width: 999px) {
  .who-needs__info {
    max-width: 550px;
    min-width: 200px;
    row-gap: 24px;
    width: auto;
  }
}

.who-needs__btn {
  width: 160px;
}

.who-needs__img {
  margin-right: -220px;
}
@media screen and (max-width: 1600px) {
  .who-needs__img {
    margin-right: 0;
  }
}

.slider-wrapper {
  position: relative !important;
  width: 1346px;
  margin: 0 auto;
}
@media screen and (max-width: 1439px) {
  .slider-wrapper {
    width: 900px;
  }
}
@media screen and (max-width: 999px) {
  .slider-wrapper {
    max-width: 1200px;
    min-width: 200px;
    width: 700px;
  }
}
@media screen and (max-width: 900px) {
  .slider-wrapper {
    width: 700px;
  }
}
@media screen and (max-width: 800px) {
  .slider-wrapper {
    width: 600px;
  }
}
@media screen and (max-width: 650px) {
  .slider-wrapper {
    width: 500px;
  }
}
@media screen and (max-width: 500px) {
  .slider-wrapper {
    width: 450px;
  }
}
@media screen and (max-width: 450px) {
  .slider-wrapper {
    width: 400px;
  }
}
@media screen and (max-width: 400px) {
  .slider-wrapper {
    width: 310px;
  }
}
@media screen and (max-width: 350px) {
  .slider-wrapper {
    width: 310px;
  }
}

.swiper {
  width: 1218px;
  height: 550px;
}
@media screen and (max-width: 1439px) {
  .swiper {
    width: 800px;
    height: 460px;
  }
}
@media screen and (max-width: 999px) {
  .swiper {
    width: 100%;
  }
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 384px;
  height: 550px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 1439px) {
  .swiper-slide img {
    width: 310px;
    height: 460px;
  }
}

.swiper-button-prev {
  width: 40px;
  height: 40px;
  opacity: 1;
  left: 0;
}
.swiper-button-prev::after {
  content: "";
  width: 40px;
  height: 40px;
  background-image: url("./../imgs/swiper/prew-def.svg");
  opacity: 1;
}
.swiper-button-prev:hover::after {
  background-image: url("./../imgs/swiper/prev-hover.svg");
}
.swiper-button-prev:active::after {
  background-image: url("./../imgs/swiper/prev-active.svg");
}

.swiper-button-prev.swiper-button-disabled {
  opacity: 1;
}

.swiper-button-next {
  width: 40px;
  height: 40px;
  opacity: 1;
  right: 0;
}
.swiper-button-next::after {
  content: "";
  width: 40px;
  height: 40px;
  background-image: url("./../imgs/swiper/prew-def.svg");
  transform: rotate(180deg);
  opacity: 1;
}
.swiper-button-next:hover::after {
  background-image: url("./../imgs/swiper/prev-hover.svg");
}
.swiper-button-next:active::after {
  background-image: url("./../imgs/swiper/prev-active.svg");
}

.swiper-button-next.swiper-button-disabled {
  opacity: 1;
}

@media screen and (max-width: 999px) {
  .swiper-button-prev, .swiper-button-next {
    display: none;
  }
}

.swiper-pagination {
  display: none;
}
@media screen and (max-width: 999px) {
  .swiper-pagination {
    display: block;
    transform: translate(0, 40px);
  }
}

.swiper-pagination-bullet {
  background: #e0e0e0;
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background-color: #000;
}

.slider {
  display: grid;
  row-gap: 64px;
  padding-top: 120px;
  padding-bottom: 120px;
}
@media screen and (max-width: 1600px) {
  .slider {
    padding-left: 70px;
    padding-right: 70px;
  }
}
@media screen and (max-width: 1439px) {
  .slider {
    align-content: start;
  }
}
@media screen and (max-width: 999px) {
  .slider {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.slider__titles {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 20px;
       column-gap: 20px;
  align-items: center;
}
@media screen and (max-width: 1439px) {
  .slider__titles {
    display: grid;
    row-gap: 8px;
    text-align: left;
    -moz-column-gap: 0;
         column-gap: 0;
  }
}

.card {
  height: 440px;
}
.card--2 {
  background: #f9f9f9;
  height: 680px;
  padding-top: 120px;
  padding-bottom: 120px;
}
.card--2.card__img {
  z-index: 0;
}
@media screen and (max-width: 999px) {
  .card--2 {
    background: #fff;
    height: 630px;
    padding-top: 64px;
  }
}
@media screen and (max-width: 999px) {
  .card {
    height: 574px;
    width: 319px;
    padding-right: 12px;
  }
}

.card__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  position: relative;
  z-index: 9;
  height: 100%;
  border-radius: 12px;
  background: #FFF;
  box-shadow: 0px 8px 18px 0px rgba(0, 0, 0, 0.05), 0px 32px 32px 0px rgba(0, 0, 0, 0.04), 0px 72px 43px 0px rgba(0, 0, 0, 0.03), 0px 128px 51px 0px rgba(0, 0, 0, 0.01), 0px 200px 56px 0px rgba(0, 0, 0, 0), 0px 0px 18px 0px rgba(0, 0, 0, 0.03);
}
@media screen and (max-width: 999px) {
  .card__wrapper {
    flex-direction: column-reverse;
  }
  .card__wrapper::before {
    content: "";
    position: absolute;
    background: #F59C36;
    width: 100%;
    height: 226px;
    top: 0;
    left: 0;
  }
  .card__wrapper::after {
    display: none;
  }
}
.card__wrapper--1 {
  padding-top: 65px;
  padding-bottom: 25px;
  padding-left: 68px;
  padding-right: 38px;
}
.card__wrapper--1::after {
  margin-top: -35px;
}
@media screen and (max-width: 999px) {
  .card__wrapper--1 {
    padding: 0;
  }
}
.card__wrapper::after {
  content: "";
  position: absolute;
  right: 0;
  width: 768px;
  height: 100%;
  background-image: url("./../imgs/card/bg.jpg");
  z-index: 0;
}
.card__wrapper--2 {
  padding-left: 64px;
  height: 440px;
}
.card__wrapper--2 > .card__img {
  position: absolute;
  height: 440px;
  max-width: 653px;
  right: 0;
}
@media screen and (max-width: 999px) {
  .card__wrapper--2 > .card__img {
    height: 226px;
    width: 250px;
    top: 0;
    right: 20px;
  }
}
.card__wrapper--2 > .card__info {
  width: 497px;
}
@media screen and (max-width: 1439px) {
  .card__wrapper--2 > .card__info {
    width: 437px;
  }
}
@media screen and (max-width: 999px) {
  .card__wrapper--2 > .card__info {
    width: auto;
  }
}
@media screen and (max-width: 999px) {
  .card__wrapper--2 {
    padding: 0;
    height: 630px;
  }
}

.card__info {
  display: grid;
  width: 447px;
  z-index: 9;
}
@media screen and (max-width: 999px) {
  .card__info {
    width: auto;
    padding-left: 24px;
    padding-bottom: 28px;
  }
}

.card__text {
  margin-top: 24px;
  margin-bottom: 32px;
}
@media screen and (max-width: 999px) {
  .card__text {
    margin-top: 16px;
    margin-bottom: 24px;
  }
}

.card__btn {
  width: 140px;
}

.card__img {
  z-index: 9;
}
@media screen and (max-width: 999px) {
  .card__img {
    width: 323px;
    height: 196px;
    margin-top: 22px;
  }
}

.why-we {
  display: grid;
  padding-right: 455px;
  gap: 64px;
  padding-top: 120px;
  padding-bottom: 120px;
}
@media screen and (max-width: 999px) {
  .why-we {
    padding-top: 64px;
    padding-bottom: 64px;
    padding-right: 0;
    row-gap: 40px;
  }
}

.why-we__title {
  text-align: center;
}
@media screen and (max-width: 999px) {
  .why-we__title {
    text-align: left;
  }
}

.why-we__wrapper {
  display: flex;
}
@media screen and (max-width: 999px) {
  .why-we__wrapper {
    flex-direction: column;
    row-gap: 24px;
  }
}

.why-we__items {
  display: grid;
  align-content: start;
  width: 277px;
  row-gap: 80px;
}
.why-we__items--left {
  margin-top: 115px;
}
@media screen and (max-width: 999px) {
  .why-we__items--left {
    margin-top: 0;
  }
}
.why-we__items--right {
  margin-top: 121px;
  row-gap: 40px;
}
.why-we__items--right.link-more {
  width: 175px;
}
@media screen and (max-width: 999px) {
  .why-we__items--right {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 0;
  }
}
@media screen and (max-width: 999px) {
  .why-we__items {
    row-gap: 24px;
  }
}

.why-we__item {
  display: grid;
  row-gap: 16px;
}
@media screen and (max-width: 999px) {
  .why-we__item {
    row-gap: 8px;
  }
}

.why-we__img {
  padding-left: 50px;
  padding-right: 78px;
}
@media screen and (max-width: 999px) {
  .why-we__img {
    display: none;
    padding: 0;
    width: 0;
    height: 0;
  }
}

.prices {
  display: grid;
  row-gap: 64px;
  padding-bottom: 120px;
}
@media screen and (max-width: 999px) {
  .prices {
    row-gap: 40px;
    padding-bottom: 40px;
  }
}

.prices__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
@media screen and (max-width: 999px) {
  .prices__wrapper {
    flex-direction: column;
    row-gap: 24px;
  }
}

.prices__title {
  width: 515px;
}
@media screen and (max-width: 999px) {
  .prices__title {
    width: auto;
    max-width: 515px;
    min-width: 200px;
  }
}

.prices__contacts {
  display: grid;
  row-gap: 16px;
}
@media screen and (max-width: 999px) {
  .prices__contacts {
    row-gap: 8px;
  }
  .prices__contacts > .txt {
    display: grid;
  }
}

.table__head {
  color: #6A6A6A;
}
@media screen and (max-width: 999px) {
  .table__head > .txt {
    font-size: 14px;
  }
}

.table__head > tr {
  padding-bottom: 16px;
}

.table tr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #E6E6E6;
}
@media screen and (max-width: 999px) {
  .table tr {
    width: auto;
    min-width: 184px;
  }
}

.table__body > tr {
  padding: 24px 0;
}
.table__body > tr:first-child {
  padding-top: 22px;
  padding-bottom: 14px;
}
.table__body > tr.link-more, .table__body > tr .link-more:visited, .table__body > tr .link-more:link {
  text-align: left;
}
@media screen and (max-width: 999px) {
  .table__body > tr > th > h4 {
    font-size: 14px;
  }
}
@media screen and (max-width: 999px) {
  .table__body > tr > th:first-child {
    width: 184px;
  }
}
@media screen and (max-width: 376px) {
  .table__body > tr > th:first-child {
    width: 150px;
  }
}

.table__text-reg {
  font-weight: 400;
}

.about {
  padding-top: 120px;
  padding-bottom: 120px;
  background: #f9f9f9;
}
@media screen and (max-width: 999px) {
  .about {
    padding-top: 40px;
    padding-bottom: 40px;
    background: #fff;
  }
}

.about__top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
  border-bottom: 1px solid #E6E6E6;
}
@media screen and (max-width: 999px) {
  .about__top {
    display: grid;
    row-gap: 24px;
  }
}

.about__text {
  display: grid;
  gap: 16px;
  max-width: 594px;
}

.about__bottom {
  display: grid;
  row-gap: 40px;
  padding-top: 64px;
}
@media screen and (max-width: 999px) {
  .about__bottom {
    padding-top: 40px;
  }
}

.about__items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 32px;
  -moz-column-gap: 64px;
       column-gap: 64px;
}
@media screen and (max-width: 999px) {
  .about__items {
    grid-template-columns: 1fr;
    row-gap: 24px;
  }
  .about__items > #about-card1 {
    display: none;
  }
  .about__items > #about-card2 {
    display: none;
  }
  .about__items > #about-card3 {
    display: none;
  }
  .about__items > #about-card4 {
    display: none;
  }
  .about__items > #about-card5 {
    display: none;
  }
  .about__items > #about-card6 {
    display: none;
  }
  .about__items > #about-card7 {
    display: none;
  }
  .about__items > #about-card8 {
    display: none;
  }
  .about__items > #about-card9 {
    display: none;
  }
  .about__items > #about-card10 {
    display: none;
  }
}

.about__item {
  display: flex;
  justify-content: flex-start;
  -moz-column-gap: 8px;
       column-gap: 8px;
}

.about__icon {
  width: 24px;
  height: 24px;
}

.about__btn {
  display: none;
}
@media screen and (max-width: 999px) {
  .about__btn {
    display: block;
    margin-top: -8px;
  }
}

.map {
  display: flex;
  -moz-column-gap: 56px;
       column-gap: 56px;
  padding-top: 239px;
  padding-bottom: 120px;
}
@media screen and (max-width: 999px) {
  .map {
    flex-direction: column-reverse;
    padding-top: 224px;
    padding-bottom: 64px;
    row-gap: 40px;
  }
}

.map__container {
  max-width: 804px;
  max-height: 659px;
  width: 804px;
  height: 659px;
  background: grey;
}
@media screen and (max-width: 999px) {
  .map__container {
    width: 100%;
    height: 369px;
  }
}

.map__wrapper {
  display: grid;
  row-gap: 40px;
  width: 358px;
}
@media screen and (max-width: 999px) {
  .map__wrapper {
    row-gap: 24px;
    width: 100%;
  }
}

.map__main-address {
  display: grid;
  row-gap: 16px;
}
@media screen and (max-width: 999px) {
  .map__main-address {
    row-gap: 8px;
  }
}

.map__other-addresses {
  display: grid;
  row-gap: 24px;
}
@media screen and (max-width: 999px) {
  .map__other-addresses {
    row-gap: 16px;
  }
}

.footer {
  display: flex;
  align-items: flex-start;
  -moz-column-gap: 145px;
       column-gap: 145px;
  background: #fafafa;
  padding-top: 40px;
  padding-bottom: 56px;
}
@media screen and (max-width: 1439px) {
  .footer {
    flex-direction: column;
    row-gap: 40px;
  }
}
@media screen and (max-width: 999px) {
  .footer {
    background: #fff;
  }
}

.footer__wrapper {
  display: flex;
  -moz-column-gap: 100px;
       column-gap: 100px;
}
@media screen and (max-width: 999px) {
  .footer__wrapper {
    display: grid;
    row-gap: 40px;
    width: 100%;
  }
}

.footer__col {
  display: grid;
  justify-items: start;
  row-gap: 24px;
}
.footer__col:last-child {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.footer__col:last-child > .btn {
  width: 230px;
  height: 45px;
}
@media screen and (max-width: 999px) {
  .footer__col:last-child > .btn {
    width: 100%;
  }
}
@media screen and (max-width: 999px) {
  .footer__col {
    grid-template-areas: "title title" "link link";
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
  .footer__col > b {
    width: 100%;
    grid-area: title;
    border-bottom: 1px solid #E6E6E6;
    padding-bottom: 16px;
  }
  .footer__col.link {
    grid-area: link;
  }
  .footer__col--2 {
    grid-template-areas: "title title" "telegram telegram" "link2 link3" "btn btn";
  }
  .footer__col--2 > .link--1 {
    grid-area: telegram;
  }
  .footer__col--2 > .link--2 {
    grid-area: link2;
  }
  .footer__col--2 > .link--3 {
    grid-area: link3;
  }
  .footer__col--2 > .btn {
    width: 100%;
    grid-area: btn;
  }
  .footer__col--3 {
    grid-template-areas: "title title" "link1 link2" "link3 link3" "socials socials";
  }
  .footer__col--3 > .link--1 {
    grid-area: link1;
  }
  .footer__col--3 > .link--2 {
    grid-area: link2;
  }
  .footer__col--3 > .link--3 {
    grid-area: link3;
  }
  .footer__col--3 > .footer__socials {
    grid-area: socials;
  }
  .footer__col--4 {
    display: none;
  }
}

@media screen and (max-width: 999px) {
  .footer__col--4 > b {
    border: none;
    padding-bottom: 0;
  }
}

.footer__socials {
  display: flex;
  -moz-column-gap: 16px;
       column-gap: 16px;
}

.footer__socials img {
  width: 31px;
  height: 31px;
}

.link:hover {
  color: #6A6A6A;
}
.link:active {
  color: #202020;
}/*# sourceMappingURL=main.css.map */