.popular-tour {
    display: inline-block;
    position: relative;

    overflow: hidden;

    border-radius: 32px;
    width: 380px;
    height: 500px;

    &:hover {
        .popular-tour__grade {
            display: none;
        }

        .popular-tour__preview {
            width: 100%;
            height: 100%;

            &::before {
                width: 100%;
                height: 100%;
            }
        }

        .popular-tour__info {
            display: grid;
        }
    }
}

.popular-tour--mobile {

    @include mediaLaptop {
        min-width: 285px;
        height: 400px;
    
        .popular-tour__grade {
            top: 36px;
        }
    
        .popular-tour__preview {
            width: 285px;
            height: 70px;
    
            padding: 20px 24px;
    
            &::before {
                width: 285px;
                height: 70px;
            }
        }
    
        .popular-tour__title {
            font-size: 18px;
            top: 23px;
        }
    
        .popular-tour__text {
            display: none;
        }
    
        .popular-tour__price {
            font-size: 16px;
            line-height: 1.125;
    
            top: 20px;
            padding: 6px 12px;
        }
    
        .popular-tour__info {
            top: 85px;
            transform: translate(0, -12px);
            gap: 5px;
    
            &>.btn {
                height: 44px;
            }
        }
    
        .popular-tour__description {
            width: 237px;
    
            font-size: 14px;
            line-height: 1.4;
        }
    }
}

.popular-tour__bg {
    position: absolute;
    width: 100%;
    height: 100%;
}

.popular-tour__grade {
    position: absolute;

    top: 50px;
    right: 0;

    display: flex;
    column-gap: 4px;
    align-items: center;

    padding: 4px 8px;

    border-radius: 4px 0px 0px 4px;
    background: rgba(253, 253, 253, 0.40);

    z-index: 9;
    transition: all 0.2s ease-in;
}

.popular-tour__rating {
    color: $buttonColor;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.28571;

    z-index: 99;
}

.popular-tour__preview {
    content: "";
    position: absolute;
    z-index: 999;

    width: 380px;
    height: 90px;

    bottom: 0;
    right: 0;

    padding: 20px 32px 23px 32px;

    transition: all 0.2s ease-in;

    &::before {
        content: "";
        position: absolute;

        z-index: 999;
        
        width: 380px;
        height: 90px;

        bottom: 0;
        right: 0;
        
        background: rgba(255, 255, 255, 0.20);
        backdrop-filter: blur(3px);
        transition: all 0.2s ease-in;
    }
}

.popular-tour__title {
    position: absolute;
    z-index: 9999;

    color: $white;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;
}

.popular-tour__text {
    position: absolute;
    z-index: 9999;

    left: 32px;
    top: 49px;

    color: $white;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.28571;
}

.popular-tour__price {
    position: absolute;
    z-index: 9999;

    top: 25px;
    right: 32px;

    color: $white;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;

    padding: 8px 16px;

    border-radius: 4px;
    background: rgba(255, 255, 255, 0.30);
}

.popular-tour__info {
    display: none;
    gap: 105px;
    
    position: absolute;
    z-index: 9999;

    top: 115px;

    width: 316px;
    height: 365px;

    transition: all 0.2s ease-in;

    &>.btn {
        width: 186px;
    }
}

.popular-tour__description {
    color: $white;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}
