.slider {
    display: grid;
    row-gap: 64px;
    padding-top: 120px;
    padding-bottom: 120px;

    @include mediaLaptopL {
        padding-left: 70px;
        padding-right: 70px;
    }

    @include mediaLaptop {
        align-content: start;
    }

    @include mediaTablet {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.slider__titles {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
    align-items: center;

    @include mediaLaptop {
        display: grid;
        row-gap: 8px;
        text-align: left;
        column-gap: 0;
    }
}