// fonts
$font-kanit: "Kanit", sans-serif;
$font-poppins: "Poppins", sans-serif;

// colors
$color-text: #05060A;
$color-bg: #FBFEFF;
$color-bg-secondary: #ECF3FF;
$color-btn: #016DB3;
$color-text-secondary: #FFF;
$color-blue-text: #00215B;
$color-text-btn: #EBECEE;
$color-footer-text: #5D616F;

$blue: #016DB3E5;
$red: #D54137E5;