// Fonts 
$fontMontserrat: 'Montserrat';

// Colors
$headBlack: #202020;
$bodyBlack: #2F2F2F;
$caption: #6A6A6A;
$inputText: #5E6368;
$lines: #E6E6E6;
$prim: #F59C36;
$primSec: #FF8800;
$footerBg: #fafafa;