// Fonts
$font-nextArt: 'Next Art', sans-serief;
$font-nunitoSans: 'Nunito Sans', sans-serif;

// Colors
$black: #000;
$white: #fdfdfd;
$bgColor: #fff;
$buttonColor: #1A3E3E;
$textColor: #18121E;
$secondaryTextColor: #F2BE22;
$footerBg: #1A3E3E;
$footerSecondary: #18121E;
$whiteSecondary: #F3F5F4;